<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SimpleShop</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
    <header>
        <span class="title">Tennis Shop</span>
        <a href="" class="cart-ico">
            <div>
                <span>Cart</span>
                <span>(0)</span>
                <span>0</span>
                <span>zł</span>
            </div>
        </a>
    </header>

    <div class="main-content">
        <div class="item">
            <p class="item-name">
                Tennis Racquet
            </p>

            <img src="https://media.istockphoto.com/id/491945650/pl/zdj%C4%99cie/zbli%C5%BCenie-z-rakieta-do-tenisa-ziemnego.jpg?s=612x612&w=0&k=20&c=6jL0jnOGg3JlyZK_EW1EV6nY-8axWUS6ovQufMBPedE=" />

            <div>
                <span>Price: </span>
                <span>499.99 </span>
                <span>zł </span>
            </div>

            <a href="" class="add-btn">Add</a>
        </div>

        <div class="item">
            <p class="item-name">
                Tennis Racquet
            </p>

            <img src="https://media.istockphoto.com/id/491945650/pl/zdj%C4%99cie/zbli%C5%BCenie-z-rakieta-do-tenisa-ziemnego.jpg?s=612x612&w=0&k=20&c=6jL0jnOGg3JlyZK_EW1EV6nY-8axWUS6ovQufMBPedE=" />

            <div>
                <span>Price: </span>
                <span>499.99 </span>
                <span>zł </span>
            </div>

            <a href="" class="add-btn">Add</a>
        </div>

        <div class="item">
            <p class="item-name">
                Tennis Racquet
            </p>

            <img src="https://media.istockphoto.com/id/491945650/pl/zdj%C4%99cie/zbli%C5%BCenie-z-rakieta-do-tenisa-ziemnego.jpg?s=612x612&w=0&k=20&c=6jL0jnOGg3JlyZK_EW1EV6nY-8axWUS6ovQufMBPedE=" />

            <div>
                <span>Price: </span>
                <span>499.99 </span>
                <span>zł </span>
            </div>

            <a href="" class="add-btn">Add</a>
        </div>

        <div class="item">
            <p class="item-name">
                Tennis Racquet
            </p>

            <img src="https://media.istockphoto.com/id/491945650/pl/zdj%C4%99cie/zbli%C5%BCenie-z-rakieta-do-tenisa-ziemnego.jpg?s=612x612&w=0&k=20&c=6jL0jnOGg3JlyZK_EW1EV6nY-8axWUS6ovQufMBPedE=" />

            <div>
                <span>Price: </span>
                <span>499.99 </span>
                <span>zł </span>
            </div>

            <a href="" class="add-btn">Add</a>
        </div>

        <div class="item">
            <p class="item-name">
                Tennis Racquet
            </p>

            <img src="https://media.istockphoto.com/id/491945650/pl/zdj%C4%99cie/zbli%C5%BCenie-z-rakieta-do-tenisa-ziemnego.jpg?s=612x612&w=0&k=20&c=6jL0jnOGg3JlyZK_EW1EV6nY-8axWUS6ovQufMBPedE=" />

            <div>
                <span>Price: </span>
                <span>499.99 </span>
                <span>zł </span>
            </div>

            <a href="" class="add-btn">Add</a>
        </div>

    </div>
</body>
</html>